In [34]:
import pandas as pd

In [35]:
# Read the data from the CSV file
pd_edu = pd.read_csv('edudata.csv')
pd_life = pd.read_csv('life_expectancy.csv')
pd_gdp = pd.read_csv('GDP.csv')
pd_merged = pd.read_csv('merged_data.csv')
#display columna 
print(pd_merged.columns)

Index(['Country', 'Year', 'Status', 'Population', 'Hepatitis B', 'Measles',
       'Polio', 'Diphtheria', 'HIV/AIDS', 'infant deaths', 'under-five deaths',
       'Total expenditure', 'BMI', 'thinness  1-19 years', 'Alcohol',
       'Schooling', 'Life expectancy', ' Country Code', ' Indicator Name',
       ' Indicator Code', 'Value', 'Country Code', 'GDP'],
      dtype='object')

In [36]:
# Ensure proper column name handling and filter only necessary columns for correlation
pd_merged.columns = pd_merged.columns.str.strip()

# List of unique indicator names
list_of_indicators = pd_merged['Indicator Name'].unique().tolist()

# Prepare to store results
correlation_results = []

# Iterate over each indicator name
for indicator in list_of_indicators:
    indicator_df = pd_merged[pd_merged['Indicator Name'] == indicator]
    
    # Remove columns with object dtype in indicator_df
    indicator_df = indicator_df.select_dtypes(exclude=['object'])
    
    # Calculate correlation
    correlation = indicator_df.corr()
    
    # Drop columns from correlation except 'Value'
    if 'Value' in correlation.columns:
        correlation = correlation[['Value']]
    
    correlation_results.append((indicator, correlation))

for i in correlation_results:
    print(i[0])
    display(i[1])

Population ages 15-64 (% of total population)

                         Value
Year                  0.137803
Population            0.032042
Hepatitis B           0.290407
Measles              -0.133836
Polio                 0.463348
Diphtheria            0.463915
HIV/AIDS             -0.326136
infant deaths        -0.138403
under-five deaths    -0.159932
Total expenditure     0.079955
BMI                   0.500267
thinness  1-19 years -0.317436
Alcohol               0.391236
Schooling             0.654246
Life expectancy       0.743617
Value                 1.000000
GDP                   0.629116

Population ages 0-14 (% of total population)

                         Value
Year                 -0.127318
Population           -0.003168
Hepatitis B          -0.242498
Measles               0.133268
Polio                -0.458450
Diphtheria           -0.457491
HIV/AIDS              0.338001
infant deaths         0.160364
under-five deaths     0.178909
Total expenditure    -0.229590
BMI                  -0.547002
thinness  1-19 years  0.443543
Alcohol              -0.611546
Schooling            -0.760336
Life expectancy      -0.810434
Value                 1.000000
GDP                  -0.602630

Unemployment

                         Value
Year                 -0.036467
Population           -0.031156
Hepatitis B           0.019167
Measles              -0.064621
Polio                 0.046037
Diphtheria            0.055307
HIV/AIDS              0.180300
infant deaths        -0.073393
under-five deaths    -0.077797
Total expenditure     0.153086
BMI                   0.139617
thinness  1-19 years -0.059589
Alcohol               0.051886
Schooling             0.023814
Life expectancy      -0.010908
Value                 1.000000
GDP                  -0.127165

Labor force

                         Value
Year                  0.016105
Population            0.423922
Hepatitis B          -0.086216
Measles               0.278438
Polio                -0.015563
Diphtheria           -0.004908
HIV/AIDS             -0.039802
infant deaths         0.566382
under-five deaths     0.549307
Total expenditure     0.011173
BMI                  -0.058795
thinness  1-19 years  0.228246
Alcohol               0.009736
Schooling            -0.014685
Life expectancy       0.018485
Value                 1.000000
GDP                  -0.011681

Probability of dying among youth ages 20-24 years (per 1

                         Value
Year                 -0.122194
Population            0.001554
Hepatitis B          -0.246673
Measles               0.137608
Polio                -0.460875
Diphtheria           -0.461464
HIV/AIDS              0.557301
infant deaths         0.130571
under-five deaths     0.152160
Total expenditure    -0.110842
BMI                  -0.484277
thinness  1-19 years  0.355715
Alcohol              -0.278577
Schooling            -0.654618
Life expectancy      -0.870906
Value                 1.000000
GDP                  -0.479940

Probability of dying among adolescents ages 15-19 years (per 1

                         Value
Year                 -0.118646
Population            0.008883
Hepatitis B          -0.260498
Measles               0.153658
Polio                -0.496037
Diphtheria           -0.507720
HIV/AIDS              0.420058
infant deaths         0.147054
under-five deaths     0.169838
Total expenditure    -0.163252
BMI                  -0.523130
thinness  1-19 years  0.383966
Alcohol              -0.347868
Schooling            -0.717511
Life expectancy      -0.868360
Value                 1.000000
GDP                  -0.479525

Probability of dying among adolescents ages 10-14 years (per 1

                         Value
Year                 -0.095671
Population            0.014974
Hepatitis B          -0.262225
Measles               0.195043
Polio                -0.491895
Diphtheria           -0.504032
HIV/AIDS              0.330163
infant deaths         0.178401
under-five deaths     0.205547
Total expenditure    -0.198901
BMI                  -0.538350
thinness  1-19 years  0.416166
Alcohol              -0.354939
Schooling            -0.722727
Life expectancy      -0.824267
Value                 1.000000
GDP                  -0.459574

Probability of dying among children ages 5-9 years (per 1

                         Value
Year                 -0.134638
Population            0.006832
Hepatitis B          -0.271808
Measles               0.221765
Polio                -0.495498
Diphtheria           -0.512611
HIV/AIDS              0.339017
infant deaths         0.180041
under-five deaths     0.211797
Total expenditure    -0.177408
BMI                  -0.545898
thinness  1-19 years  0.406825
Alcohol              -0.346016
Schooling            -0.725963
Life expectancy      -0.827869
Value                 1.000000
GDP                  -0.436042

Number of deaths ages 20-24 years

                         Value
Year                 -0.013264
Population            0.615377
Hepatitis B          -0.183100
Measles               0.461778
Polio                -0.109242
Diphtheria           -0.104305
HIV/AIDS              0.027332
infant deaths         0.949860
under-five deaths     0.934449
Total expenditure    -0.065227
BMI                  -0.156620
thinness  1-19 years  0.443088
Alcohol              -0.066166
Schooling            -0.121771
Life expectancy      -0.130343
Value                 1.000000
GDP                  -0.111189

Number of deaths ages 15-19 years

                         Value
Year                 -0.014268
Population            0.614822
Hepatitis B          -0.189213
Measles               0.470955
Polio                -0.121158
Diphtheria           -0.115182
HIV/AIDS              0.010611
infant deaths         0.966791
under-five deaths     0.951770
Total expenditure    -0.085543
BMI                  -0.175054
thinness  1-19 years  0.454677
Alcohol              -0.089284
Schooling            -0.139324
Life expectancy      -0.136208
Value                 1.000000
GDP                  -0.120333

Number of deaths ages 10-14 years

                         Value
Year                 -0.015407
Population            0.593228
Hepatitis B          -0.207319
Measles               0.496583
Polio                -0.140614
Diphtheria           -0.137839
HIV/AIDS              0.015051
infant deaths         0.987792
under-five deaths     0.979178
Total expenditure    -0.105523
BMI                  -0.193889
thinness  1-19 years  0.471179
Alcohol              -0.097185
Schooling            -0.161926
Life expectancy      -0.160599
Value                 1.000000
GDP                  -0.129136

Number of deaths ages 5-9 years

                         Value
Year                 -0.030591
Population            0.549858
Hepatitis B          -0.235516
Measles               0.534757
Polio                -0.184168
Diphtheria           -0.183069
HIV/AIDS              0.038014
infant deaths         0.986704
under-five deaths     0.992326
Total expenditure    -0.121253
BMI                  -0.224387
thinness  1-19 years  0.467002
Alcohol              -0.099523
Schooling            -0.200792
Life expectancy      -0.219696
Value                 1.000000
GDP                  -0.148635

Government expenditure on education

                         Value
Year                  0.035475
Population           -0.024215
Hepatitis B           0.016889
Measles              -0.031569
Polio                 0.002191
Diphtheria           -0.011516
HIV/AIDS              0.099501
infant deaths        -0.015294
under-five deaths    -0.014838
Total expenditure     0.006124
BMI                  -0.013109
thinness  1-19 years  0.013893
Alcohol              -0.080111
Schooling            -0.023938
Life expectancy      -0.064230
Value                 1.000000
GDP                  -0.046284

Expenditure on tertiary education (% of government expenditure on education)

                         Value
Year                  0.019625
Population           -0.012783
Hepatitis B          -0.056360
Measles               0.030587
Polio                 0.039375
Diphtheria            0.019535
HIV/AIDS             -0.008208
infant deaths         0.027077
under-five deaths     0.024087
Total expenditure     0.109670
BMI                   0.239853
thinness  1-19 years -0.153510
Alcohol               0.237403
Schooling             0.315650
Life expectancy       0.216094
Value                 1.000000
GDP                   0.362881

Government expenditure per student

                         Value
Year                 -0.060786
Population           -0.009347
Hepatitis B          -0.084289
Measles              -0.002743
Polio                -0.055545
Diphtheria           -0.132782
HIV/AIDS              0.223503
infant deaths         0.018696
under-five deaths     0.025368
Total expenditure    -0.007827
BMI                  -0.125615
thinness  1-19 years  0.076823
Alcohol              -0.096522
Schooling            -0.166338
Life expectancy      -0.239290
Value                 1.000000
GDP                  -0.099304

Expenditure on secondary education (% of government expenditure on education)

                         Value
Year                 -0.063414
Population            0.040522
Hepatitis B           0.172225
Measles              -0.038879
Polio                 0.271368
Diphtheria            0.243934
HIV/AIDS             -0.170964
infant deaths         0.015760
under-five deaths     0.008843
Total expenditure     0.092200
BMI                   0.278742
thinness  1-19 years -0.121507
Alcohol               0.387041
Schooling             0.367854
Life expectancy       0.369251
Value                 1.000000
GDP                   0.273222

Expenditure on primary education (% of government expenditure on education)

                         Value
Year                 -0.056703
Population            0.012155
Hepatitis B          -0.215273
Measles               0.073469
Polio                -0.355586
Diphtheria           -0.305078
HIV/AIDS              0.218356
infant deaths         0.050972
under-five deaths     0.062400
Total expenditure    -0.189875
BMI                  -0.494053
thinness  1-19 years  0.372108
Alcohol              -0.545411
Schooling            -0.623457
Life expectancy      -0.580208
Value                 1.000000
GDP                  -0.551911

Current education expenditure

                         Value
Year                  0.026313
Population            0.039966
Hepatitis B           0.011242
Measles               0.007742
Polio                 0.017408
Diphtheria            0.053683
HIV/AIDS              0.005953
infant deaths         0.030251
under-five deaths     0.027329
Total expenditure     0.149168
BMI                   0.146349
thinness  1-19 years -0.175534
Alcohol               0.136462
Schooling             0.202049
Life expectancy       0.123804
Value                 1.000000
GDP                   0.081609

Tertiary education

                         Value
Year                  0.189906
Population            0.031937
Hepatitis B           0.206791
Measles              -0.086580
Polio                 0.366247
Diphtheria            0.357016
HIV/AIDS             -0.171953
infant deaths        -0.084239
under-five deaths    -0.100146
Total expenditure     0.108932
BMI                   0.351650
thinness  1-19 years -0.329831
Alcohol               0.388882
Schooling             0.526988
Life expectancy       0.447394
Value                 1.000000
GDP                   0.185764

School enrollment

                         Value
Year                  0.057259
Population           -0.016653
Hepatitis B           0.069792
Measles              -0.054030
Polio                 0.132077
Diphtheria            0.135458
HIV/AIDS             -0.085341
infant deaths        -0.063585
under-five deaths    -0.069626
Total expenditure     0.084654
BMI                   0.186160
thinness  1-19 years -0.170997
Alcohol               0.203622
Schooling             0.297484
Life expectancy       0.256640
Value                 1.000000
GDP                   0.175294

Pupil-teacher ratio

                         Value
Year                 -0.071975
Population            0.033998
Hepatitis B          -0.206476
Measles               0.139766
Polio                -0.310334
Diphtheria           -0.301708
HIV/AIDS              0.258742
infant deaths         0.168558
under-five deaths     0.181499
Total expenditure    -0.198752
BMI                  -0.452957
thinness  1-19 years  0.391492
Alcohol              -0.374827
Schooling            -0.569060
Life expectancy      -0.579319
Value                 1.000000
GDP                  -0.410018

Educational attainment

                         Value
Year                 -0.040109
Population           -0.037666
Hepatitis B           0.014528
Measles              -0.052092
Polio                 0.085728
Diphtheria            0.100887
HIV/AIDS             -0.068659
infant deaths        -0.109998
under-five deaths    -0.114862
Total expenditure     0.078891
BMI                   0.133519
thinness  1-19 years -0.189147
Alcohol               0.153117
Schooling             0.241263
Life expectancy       0.213600
Value                 1.000000
GDP                   0.175287

Adolescents out of school (% of lower secondary school age)

                         Value
Year                 -0.110023
Population           -0.012951
Hepatitis B          -0.235385
Measles               0.220117
Polio                -0.391561
Diphtheria           -0.413220
HIV/AIDS              0.151394
infant deaths         0.297993
under-five deaths     0.358853
Total expenditure    -0.173878
BMI                  -0.502308
thinness  1-19 years  0.505856
Alcohol              -0.522313
Schooling            -0.837181
Life expectancy      -0.664188
Value                 1.000000
GDP                  -0.438726

Adolescents out of school

                         Value
Year                 -0.139959
Population           -0.006587
Hepatitis B          -0.229157
Measles               0.209544
Polio                -0.375268
Diphtheria           -0.379061
HIV/AIDS              0.115861
infant deaths         0.267950
under-five deaths     0.336826
Total expenditure    -0.146283
BMI                  -0.488892
thinness  1-19 years  0.479307
Alcohol              -0.510304
Schooling            -0.830817
Life expectancy      -0.645255
Value                 1.000000
GDP                  -0.444605

Secondary education

                         Value
Year                  0.012539
Population            0.302686
Hepatitis B          -0.060113
Measles               0.219230
Polio                -0.014730
Diphtheria           -0.014338
HIV/AIDS             -0.024376
infant deaths         0.389779
under-five deaths     0.378928
Total expenditure    -0.038418
BMI                  -0.044831
thinness  1-19 years  0.180696
Alcohol              -0.020579
Schooling            -0.013093
Life expectancy      -0.001953
Value                 1.000000
GDP                  -0.030909

Trained teachers in secondary education (% of total teachers)

                         Value
Year                 -0.054366
Population            0.047090
Hepatitis B           0.035749
Measles              -0.064550
Polio                 0.067547
Diphtheria            0.067111
HIV/AIDS              0.087172
infant deaths        -0.086601
under-five deaths    -0.099774
Total expenditure     0.034133
BMI                   0.070361
thinness  1-19 years -0.077715
Alcohol               0.127859
Schooling             0.272736
Life expectancy       0.216626
Value                 1.000000
GDP                   0.271812

Trained teachers in upper secondary education (% of total teachers)

                         Value
Year                  0.017035
Population           -0.045760
Hepatitis B           0.111160
Measles              -0.201674
Polio                 0.083401
Diphtheria            0.063172
HIV/AIDS             -0.035858
infant deaths        -0.283781
under-five deaths    -0.284871
Total expenditure     0.008129
BMI                   0.082468
thinness  1-19 years -0.075010
Alcohol               0.136099
Schooling             0.259627
Life expectancy       0.299010
Value                 1.000000
GDP                   0.267058

Trained teachers in upper secondary education

                         Value
Year                  0.034176
Population            0.023848
Hepatitis B           0.083213
Measles              -0.247185
Polio                 0.090329
Diphtheria            0.067884
HIV/AIDS             -0.037336
infant deaths        -0.308993
under-five deaths    -0.304900
Total expenditure     0.039186
BMI                   0.114431
thinness  1-19 years -0.094079
Alcohol               0.125882
Schooling             0.272840
Life expectancy       0.295913
Value                 1.000000
GDP                   0.275573

Trained teachers in secondary education

                         Value
Year                 -0.059183
Population            0.080811
Hepatitis B          -0.012286
Measles              -0.068038
Polio                 0.054485
Diphtheria            0.068984
HIV/AIDS              0.074992
infant deaths        -0.085241
under-five deaths    -0.095232
Total expenditure     0.041129
BMI                   0.056219
thinness  1-19 years -0.110615
Alcohol               0.100377
Schooling             0.268706
Life expectancy       0.204262
Value                 1.000000
GDP                   0.277801

Trained teachers in lower secondary education (% of total teachers)

                         Value
Year                  0.144201
Population            0.031517
Hepatitis B           0.154547
Measles              -0.127892
Polio                 0.088776
Diphtheria            0.131251
HIV/AIDS             -0.089664
infant deaths        -0.157028
under-five deaths    -0.161699
Total expenditure     0.132385
BMI                   0.116086
thinness  1-19 years -0.072558
Alcohol               0.148479
Schooling             0.335313
Life expectancy       0.328561
Value                 1.000000
GDP                   0.161923

Trained teachers in lower secondary education

                         Value
Year                  0.158640
Population            0.037797
Hepatitis B           0.052066
Measles              -0.114062
Polio                 0.009259
Diphtheria            0.052275
HIV/AIDS             -0.039422
infant deaths        -0.142852
under-five deaths    -0.142973
Total expenditure     0.134864
BMI                   0.111111
thinness  1-19 years -0.101812
Alcohol               0.129807
Schooling             0.306373
Life expectancy       0.276966
Value                 1.000000
GDP                   0.145305

Progression to secondary school (%)

                         Value
Year                  0.087529
Population           -0.012391
Hepatitis B           0.247064
Measles              -0.211001
Polio                 0.366509
Diphtheria            0.329557
HIV/AIDS             -0.255155
infant deaths        -0.161959
under-five deaths    -0.187731
Total expenditure     0.107961
BMI                   0.470918
thinness  1-19 years -0.334232
Alcohol               0.305872
Schooling             0.612253
Life expectancy       0.616131
Value                 1.000000
GDP                   0.393634

Progression to secondary school

                         Value
Year                  0.115101
Population           -0.017396
Hepatitis B           0.292245
Measles              -0.240818
Polio                 0.376945
Diphtheria            0.374656
HIV/AIDS             -0.248146
infant deaths        -0.157755
under-five deaths    -0.183759
Total expenditure     0.097751
BMI                   0.472884
thinness  1-19 years -0.341106
Alcohol               0.306455
Schooling             0.613404
Life expectancy       0.620614
Value                 1.000000
GDP                   0.405414

Lower secondary completion rate

                         Value
Year                  0.172783
Population           -0.007312
Hepatitis B           0.304820
Measles              -0.171382
Polio                 0.401407
Diphtheria            0.433167
HIV/AIDS             -0.320069
infant deaths        -0.166375
under-five deaths    -0.192180
Total expenditure     0.155576
BMI                   0.552561
thinness  1-19 years -0.426291
Alcohol               0.471417
Schooling             0.816432
Life expectancy       0.753973
Value                 1.000000
GDP                   0.497054

Lower secondary school starting age (years)

                         Value
Year                 -0.001844
Population           -0.076144
Hepatitis B          -0.021593
Measles               0.011897
Polio                -0.110346
Diphtheria           -0.075888
HIV/AIDS              0.351050
infant deaths        -0.059985
under-five deaths    -0.046263
Total expenditure     0.142934
BMI                  -0.172351
thinness  1-19 years  0.053895
Alcohol              -0.074257
Schooling            -0.088775
Life expectancy      -0.250454
Value                 1.000000
GDP                  -0.018474

Children out of school (% of primary school age)

                         Value
Year                 -0.115742
Population           -0.046932
Hepatitis B          -0.212218
Measles               0.175680
Polio                -0.388170
Diphtheria           -0.395760
HIV/AIDS              0.247121
infant deaths         0.080735
under-five deaths     0.106407
Total expenditure    -0.136156
BMI                  -0.437205
thinness  1-19 years  0.339006
Alcohol              -0.375633
Schooling            -0.758370
Life expectancy      -0.663587
Value                 1.000000
GDP                  -0.334739

Children out of school

                         Value
Year                 -0.064589
Population            0.271500
Hepatitis B          -0.173115
Measles               0.324840
Polio                -0.155763
Diphtheria           -0.154620
HIV/AIDS              0.066025
infant deaths         0.585137
under-five deaths     0.601197
Total expenditure    -0.080545
BMI                  -0.166144
thinness  1-19 years  0.279916
Alcohol              -0.061558
Schooling            -0.183363
Life expectancy      -0.203832
Value                 1.000000
GDP                  -0.121210

Adjusted net enrollment rate

                         Value
Year                  0.162888
Population            0.011263
Hepatitis B           0.216673
Measles              -0.190474
Polio                 0.399943
Diphtheria            0.425069
HIV/AIDS             -0.214513
infant deaths        -0.123740
under-five deaths    -0.149485
Total expenditure     0.177581
BMI                   0.479548
thinness  1-19 years -0.355986
Alcohol               0.376625
Schooling             0.781721
Life expectancy       0.662106
Value                 1.000000
GDP                   0.371337

Primary education

                         Value
Year                  0.008150
Population            0.212431
Hepatitis B          -0.063310
Measles               0.191190
Polio                -0.038494
Diphtheria           -0.037543
HIV/AIDS             -0.005935
infant deaths         0.411536
under-five deaths     0.401223
Total expenditure    -0.044321
BMI                  -0.067705
thinness  1-19 years  0.182771
Alcohol              -0.033369
Schooling            -0.040094
Life expectancy      -0.034585
Value                 1.000000
GDP                  -0.046539

Trained teachers in primary education (% of total teachers)

                         Value
Year                  0.029301
Population            0.011150
Hepatitis B           0.102827
Measles              -0.040070
Polio                 0.142312
Diphtheria            0.173101
HIV/AIDS             -0.044269
infant deaths        -0.118140
under-five deaths    -0.132550
Total expenditure     0.060478
BMI                   0.231160
thinness  1-19 years -0.210499
Alcohol               0.114720
Schooling             0.316498
Life expectancy       0.277745
Value                 1.000000
GDP                   0.165104

Trained teachers in primary education

                         Value
Year                  0.058635
Population            0.021562
Hepatitis B           0.062712
Measles              -0.043563
Polio                 0.105595
Diphtheria            0.115911
HIV/AIDS             -0.044826
infant deaths        -0.099579
under-five deaths    -0.110411
Total expenditure     0.022954
BMI                   0.196423
thinness  1-19 years -0.204758
Alcohol               0.050176
Schooling             0.251747
Life expectancy       0.238241
Value                 1.000000
GDP                   0.174953

Repeaters

                         Value
Year                 -0.155065
Population           -0.043834
Hepatitis B          -0.242304
Measles               0.095249
Polio                -0.365969
Diphtheria           -0.381521
HIV/AIDS              0.336163
infant deaths         0.028407
under-five deaths     0.042913
Total expenditure    -0.173592
BMI                  -0.491689
thinness  1-19 years  0.394694
Alcohol              -0.389771
Schooling            -0.615243
Life expectancy      -0.666571
Value                 1.000000
GDP                  -0.417664

Persistence to last grade of primary

                         Value
Year                  0.085299
Population           -0.022506
Hepatitis B           0.285934
Measles              -0.129958
Polio                 0.400353
Diphtheria            0.382991
HIV/AIDS             -0.359690
infant deaths        -0.206937
under-five deaths    -0.222822
Total expenditure     0.143834
BMI                   0.558489
thinness  1-19 years -0.405221
Alcohol               0.402872
Schooling             0.689941
Life expectancy       0.711339
Value                 1.000000
GDP                   0.487567

Persistence to grade 5

                         Value
Year                  0.097734
Population           -0.032826
Hepatitis B           0.307847
Measles              -0.116584
Polio                 0.377883
Diphtheria            0.405859
HIV/AIDS             -0.240173
infant deaths        -0.198035
under-five deaths    -0.208897
Total expenditure     0.195824
BMI                   0.496108
thinness  1-19 years -0.331873
Alcohol               0.371710
Schooling             0.647316
Life expectancy       0.648739
Value                 1.000000
GDP                   0.498586

Over-age students

                         Value
Year                 -0.105879
Population           -0.025138
Hepatitis B          -0.226108
Measles               0.094289
Polio                -0.329357
Diphtheria           -0.338374
HIV/AIDS              0.412555
infant deaths         0.045413
under-five deaths     0.061463
Total expenditure    -0.165342
BMI                  -0.418968
thinness  1-19 years  0.311342
Alcohol              -0.321917
Schooling            -0.526003
Life expectancy      -0.612181
Value                 1.000000
GDP                  -0.427159

Net intake rate in grade 1 (% of official school-age population)

                         Value
Year                  0.168923
Population           -0.029565
Hepatitis B           0.230023
Measles              -0.123340
Polio                 0.329183
Diphtheria            0.338438
HIV/AIDS             -0.264457
infant deaths        -0.157893
under-five deaths    -0.202970
Total expenditure     0.175474
BMI                   0.404680
thinness  1-19 years -0.283222
Alcohol               0.300001
Schooling             0.647481
Life expectancy       0.616961
Value                 1.000000
GDP                   0.262188

Net intake rate in grade 1

                         Value
Year                  0.184211
Population            0.015223
Hepatitis B           0.232250
Measles              -0.140602
Polio                 0.367929
Diphtheria            0.361855
HIV/AIDS             -0.288574
infant deaths        -0.185917
under-five deaths    -0.244616
Total expenditure     0.163929
BMI                   0.405536
thinness  1-19 years -0.291047
Alcohol               0.292744
Schooling             0.676639
Life expectancy       0.646415
Value                 1.000000
GDP                   0.284826

Gross intake ratio in first grade of primary education

                         Value
Year                  0.029373
Population            0.060412
Hepatitis B          -0.082553
Measles               0.025193
Polio                -0.032030
Diphtheria           -0.023525
HIV/AIDS              0.153080
infant deaths         0.080509
under-five deaths     0.076385
Total expenditure     0.006170
BMI                  -0.122750
thinness  1-19 years  0.099107
Alcohol              -0.072812
Schooling             0.020019
Life expectancy      -0.116913
Value                 1.000000
GDP                  -0.173074

Primary completion rate

                         Value
Year                  0.145305
Population            0.017599
Hepatitis B           0.273728
Measles              -0.155342
Polio                 0.410504
Diphtheria            0.410832
HIV/AIDS             -0.280367
infant deaths        -0.129617
under-five deaths    -0.151599
Total expenditure     0.134062
BMI                   0.516734
thinness  1-19 years -0.362251
Alcohol               0.369831
Schooling             0.790693
Life expectancy       0.712581
Value                 1.000000
GDP                   0.370880

Primary school starting age (years)

                         Value
Year                 -0.065284
Population           -0.001373
Hepatitis B           0.042043
Measles               0.023953
Polio                -0.011466
Diphtheria           -0.004701
HIV/AIDS              0.078039
infant deaths        -0.021145
under-five deaths    -0.015710
Total expenditure     0.048052
BMI                  -0.057097
thinness  1-19 years -0.043218
Alcohol               0.009918
Schooling            -0.132803
Life expectancy      -0.185651
Value                 1.000000
GDP                  -0.101461

Trained teachers in preprimary education (% of total teachers)

                         Value
Year                  0.110670
Population            0.090300
Hepatitis B           0.016265
Measles               0.065282
Polio                 0.066258
Diphtheria            0.060716
HIV/AIDS             -0.193017
infant deaths        -0.102391
under-five deaths    -0.114023
Total expenditure     0.088587
BMI                   0.259990
thinness  1-19 years -0.215076
Alcohol              -0.003157
Schooling             0.222502
Life expectancy       0.247311
Value                 1.000000
GDP                   0.192863

Trained teachers in preprimary education

                         Value
Year                  0.073318
Population            0.124986
Hepatitis B           0.069561
Measles               0.093127
Polio                 0.030732
Diphtheria            0.093750
HIV/AIDS             -0.137448
infant deaths        -0.044380
under-five deaths    -0.046443
Total expenditure    -0.019805
BMI                   0.207735
thinness  1-19 years -0.182171
Alcohol              -0.041828
Schooling             0.163378
Life expectancy       0.161385
Value                 1.000000
GDP                   0.185180

Preprimary education

                         Value
Year                  0.082145
Population            0.067235
Hepatitis B           0.026455
Measles               0.032438
Polio                 0.066704
Diphtheria            0.092924
HIV/AIDS             -0.057452
infant deaths        -0.002549
under-five deaths    -0.003904
Total expenditure     0.119207
BMI                   0.105423
thinness  1-19 years -0.181688
Alcohol               0.255733
Schooling             0.224709
Life expectancy       0.223105
Value                 1.000000
GDP                   0.165162

Learning poverty: Share of Male Children at the End-of-Primary age below minimum reading proficiency adjusted by Out-of-School Children (%)

                         Value
Year                  0.208083
Population            0.074297
Hepatitis B          -0.019770
Measles              -0.045594
Polio                -0.269479
Diphtheria           -0.298427
HIV/AIDS              0.331774
infant deaths         0.285837
under-five deaths     0.313367
Total expenditure    -0.297058
BMI                  -0.122838
thinness  1-19 years  0.583549
Alcohol              -0.763383
Schooling            -0.735362
Life expectancy      -0.651511
Value                 1.000000
GDP                  -0.401382

Learning poverty: Share of Female Children at the End-of-Primary age below minimum reading proficiency adjusted by Out-of-School Children (%)

                         Value
Year                  0.205784
Population            0.078210
Hepatitis B          -0.025326
Measles              -0.048991
Polio                -0.273852
Diphtheria           -0.285462
HIV/AIDS              0.333554
infant deaths         0.291168
under-five deaths     0.313561
Total expenditure    -0.277446
BMI                  -0.140036
thinness  1-19 years  0.538725
Alcohol              -0.724991
Schooling            -0.741063
Life expectancy      -0.645774
Value                 1.000000
GDP                  -0.447532

Compulsory education

                         Value
Year                  0.157569
Population            0.022128
Hepatitis B           0.088260
Measles              -0.090005
Polio                 0.192480
Diphtheria            0.232547
HIV/AIDS             -0.184022
infant deaths        -0.064591
under-five deaths    -0.076203
Total expenditure     0.213014
BMI                   0.338045
thinness  1-19 years -0.385778
Alcohol               0.302049
Schooling             0.382755
Life expectancy       0.396162
Value                 1.000000
GDP                   0.225866

Literacy rate

                         Value
Year                  0.025007
Population            0.012878
Hepatitis B           0.109702
Measles              -0.056169
Polio                 0.160116
Diphtheria            0.171660
HIV/AIDS             -0.075508
infant deaths        -0.096609
under-five deaths    -0.104764
Total expenditure     0.053967
BMI                   0.225797
thinness  1-19 years -0.194121
Alcohol               0.162793
Schooling             0.337512
Life expectancy       0.304133
Value                 1.000000
GDP                   0.150223

BHS

                         Value
Year                 -0.020622
Population                 NaN
Hepatitis B           0.001189
Measles                    NaN
Polio                -0.012930
Diphtheria           -0.006641
HIV/AIDS              0.002147
infant deaths              NaN
under-five deaths          NaN
Total expenditure    -0.023550
BMI                   0.005219
thinness  1-19 years  0.018540
Alcohol               0.018345
Schooling            -0.021158
Life expectancy      -0.019967
Value                 1.000000
GDP                  -0.016785

COD

                         Value
Year                 -0.026146
Population                 NaN
Hepatitis B           0.007641
Measles               0.010484
Polio                 0.005105
Diphtheria            0.001212
HIV/AIDS              0.026143
infant deaths         0.028923
under-five deaths     0.023202
Total expenditure    -0.014107
BMI                  -0.017023
thinness  1-19 years  0.025369
Alcohol               0.006739
Schooling            -0.026063
Life expectancy      -0.031765
Value                 1.000000
GDP                  -0.005203

COG

                         Value
Year                  0.015398
Population                 NaN
Hepatitis B          -0.009514
Measles              -0.012599
Polio                -0.004939
Diphtheria           -0.002096
HIV/AIDS             -0.016535
infant deaths        -0.017356
under-five deaths    -0.018264
Total expenditure    -0.002811
BMI                   0.014047
thinness  1-19 years -0.015378
Alcohol               0.006976
Schooling             0.016713
Life expectancy       0.018940
Value                 1.000000
GDP                   0.003147

EGY

                         Value
Year                  0.030667
Population                 NaN
Hepatitis B          -0.022823
Measles               0.005627
Polio                -0.022823
Diphtheria           -0.022823
HIV/AIDS                   NaN
infant deaths        -0.020351
under-five deaths    -0.022394
Total expenditure     0.007567
BMI                  -0.003464
thinness  1-19 years -0.028782
Alcohol               0.017298
Schooling             0.033152
Life expectancy       0.036001
Value                 1.000000
GDP                   0.028971

YEM

                         Value
Year                  0.017718
Population                 NaN
Hepatitis B           0.005294
Measles              -0.005245
Polio                -0.007336
Diphtheria           -0.008004
HIV/AIDS                   NaN
infant deaths        -0.016002
under-five deaths    -0.015027
Total expenditure     0.020694
BMI                   0.004060
thinness  1-19 years -0.017560
Alcohol              -0.008449
Schooling             0.016634
Life expectancy       0.013048
Value                 1.000000
GDP                   0.011848

In [37]:
pd_merged = pd_merged.select_dtypes(exclude=['object'])
pd_merged = pd_merged.drop(columns=['Value'])

In [40]:
#print corraltion without value column
correlation = pd_merged.corr()
#print only corralation with a significant value
display(correlation)

,Year,Population,Hepatitis B,Measles,Polio,Diphtheria,HIV/AIDS,infant deaths,under-five deaths,Total expenditure,BMI,thinness 1-19 years,Alcohol,Schooling,Life expectancy,GDP
Year,1.000000,0.015312,0.085166,-0.100271,0.089492,0.123860,-0.143072,-0.031353,-0.036476,0.086100,0.108608,-0.038045,-0.049724,0.207199,0.172681,0.142828
Population,0.015312,1.000000,-0.126919,0.324202,-0.035369,-0.026529,-0.028459,0.569988,0.555051,-0.078391,-0.074444,0.255183,-0.031070,-0.029750,-0.021055,-0.043177
Hepatitis B,0.085166,-0.126919,1.000000,-0.144897,0.500252,0.615403,-0.115375,-0.210951,-0.219712,0.071665,0.157001,-0.129667,0.076341,0.211619,0.252657,0.188679
Measles,-0.100271,0.324202,-0.144897,1.000000,-0.151925,-0.151543,0.052107,0.524481,0.546493,-0.086935,-0.168992,0.274190,-0.029891,-0.149042,-0.187047,-0.107535
Polio,0.089492,-0.035369,0.500252,-0.151925,1.000000,0.683035,-0.167310,-0.154267,-0.169857,0.153709,0.300749,-0.229422,0.220246,0.410049,0.468911,0.296049
Diphtheria,0.123860,-0.026529,0.615403,-0.151543,0.683035,1.000000,-0.172207,-0.151772,-0.169335,0.162822,0.292912,-0.225745,0.216502,0.413968,0.478743,0.289424
HIV/AIDS,-0.143072,-0.028459,-0.115375,0.052107,-0.167310,-0.172207,1.000000,0.024010,0.035962,-0.012343,-0.253903,0.206906,-0.056071,-0.224031,-0.566925,-0.200349
infant deaths,-0.031353,0.569988,-0.210951,0.524481,-0.154267,-0.151772,0.024010,1.000000,0.996913,-0.109910,-0.203399,0.464755,-0.102037,-0.182502,-0.183370,-0.138494
under-five deaths,-0.036476,0.555051,-0.219712,0.546493,-0.169857,-0.169335,0.035962,0.996913,1.000000,-0.111277,-0.213673,0.463994,-0.097812,-0.196640,-0.207072,-0.144813
Total expenditure,0.086100,-0.078391,0.071665,-0.086935,0.153709,0.162822,-0.012343,-0.109910,-0.111277,1.000000,0.254834,-0.287037,0.306953,0.276567,0.234466,0.074846
BMI,0.108608,-0.074444,0.157001,-0.168992,0.300749,0.292912,-0.253903,-0.203399,-0.213673,0.254834,1.000000,-0.539148,0.340813,0.557216,0.571933,0.392622
thinness 1-19 years,-0.038045,0.255183,-0.129667,0.274190,-0.229422,-0.225745,0.206906,0.464755,0.463994,-0.287037,-0.539148,1.000000,-0.440316,-0.482073,-0.481806,-0.319675
Alcohol,-0.049724,-0.031070,0.076341,-0.029891,0.220246,0.216502,-0.056071,-0.102037,-0.097812,0.306953,0.340813,-0.440316,1.000000,0.551458,0.406857,0.312351
Schooling,0.207199,-0.029750,0.211619,-0.149042,0.410049,0.413968,-0.224031,-0.182502,-0.196640,0.276567,0.557216,-0.482073,0.551458,1.000000,0.747411,0.544615
Life expectancy,0.172681,-0.021055,0.252657,-0.187047,0.468911,0.478743,-0.566925,-0.183370,-0.207072,0.234466,0.571933,-0.481806,0.406857,0.747411,1.000000,0.589069
GDP,0.142828,-0.043177,0.188679,-0.107535,0.296049,0.289424,-0.200349,-0.138494,-0.144813,0.074846,0.392622,-0.319675,0.312351,0.544615,0.589069,1.000000